In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [54]:
# read parquest file and keep first 100 rows
data_path = "/Users/ktzhu/code/python_code/data-engineering-zoomcamp/cohorts/2024/01-docker-terraform/2_docker_sql/yellow_tripdata_2021-01.parquet"
df = pd.read_parquet(data_path)
len(df)
# df = df.iloc[:100] # get first 100 rows
# df

1369769

In [16]:
# convert text to timestamps
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [24]:
print(pd.io.sql.get_schema(df, name='yello_taxi_data', con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [30]:
# to csv
data_path = "/Users/ktzhu/code/python_code/data-engineering-zoomcamp/cohorts/2024/01-docker-terraform/2_docker_sql/yellow_tripdata_2021-01.parquet"
df = pd.read_parquet(data_path, engine='pyarrow')
df.to_csv("yellow_tripdata_2021-01.csv", index=False)

In [43]:
# split the csv into chunks
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [44]:
df = next(df_iter)

In [42]:
len(df)

100000

In [46]:
# convert text to timestamps
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [50]:
df.head(n=0).to_sql(name='yello_taxi_data', con=engine, if_exists='replace')

0

In [51]:
%time df.to_sql(name='yello_taxi_data', con=engine, if_exists='append')

CPU times: user 1.75 s, sys: 92.5 ms, total: 1.84 s
Wall time: 3.88 s

1000

In [52]:
from time import time

In [53]:
while True:
    t_start = time()
    df = next(df_iter)
    # convert text to timestamps
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yello_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('insert another chunk..., took %.3f second' % (t_end - t_start))

insert another chunk..., took 3.515 second
insert another chunk..., took 3.565 second
insert another chunk..., took 3.698 second
insert another chunk..., took 3.511 second
insert another chunk..., took 3.688 second
insert another chunk..., took 3.518 second

/var/folders/4x/23dcrlrs7sz246zyyv6lxvw00000gn/T/ipykernel_74726/2020745593.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

insert another chunk..., took 3.469 second
insert another chunk..., took 3.856 second
insert another chunk..., took 3.450 second
insert another chunk..., took 3.544 second
insert another chunk..., took 3.487 second

/var/folders/4x/23dcrlrs7sz246zyyv6lxvw00000gn/T/ipykernel_74726/2020745593.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insert another chunk..., took 3.642 second
insert another chunk..., took 2.307 second

StopIteration:

In [55]:
# download lookup csv file
df_zones = pd.read_csv('taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [59]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [58]:
print(engine)

Engine(postgresql://root:***@localhost:5432/ny_taxi)